pkgbase = sshp
	pkgdesc = Parallel SSH Executor
	pkgver = 1.1.3
	pkgrel = 2
	url = https://github.com/bahamas10/sshp
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	source = sshp::git+https://github.com/bahamas10/sshp.git#tag=v1.1.3
	sha256sums = SKIP

pkgname = sshp
